.container{
    padding:20px;
    .x;
    color:#333;
}

.name{
    background-color:#f6f8fa;
    .fz(16px,2);
}

.price{
    .fz(14px,3);
    color:#888;
}

.line{
    .fz(20px,2);
    .bold;
}

.footer{
    .x;
    .mt(40px);
    .fz(12px);
    a{text-decoration: none;color:#666;}
}