// html{
//     border:1px solid #8cb3ac;
//     .h(100%);
//     box-sizing: border-box;
// }
body{
    background-color:#4f7776;
    overflow-y: auto;
    overflow-x: hidden;
}

.caption{
    padding: 24px 12px;
    color: #eee;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}

.result{
    margin-bottom: 40px;
    padding:0 20px;
    .x;
    .pr;
}

.bg{
    .pa;.lt(0,0);
}

.name{
    background-color:rgb(81,147,135);
    .fz(16px,30px);
    .pr;
    .r(3px);
    b{
        color:#fff;
    }
}

.price{
    .fz(12px);
    color:#eee;
    .pa;.rt(10px,0);
}

.list{
    .mt(10px);
    .mb(10px);
}

.line{
    .fz(18px,2);
    // .bold;
    color:#fff;
    cursor: pointer;
    transition: transform .5s;

    &:hover, &:active{
        transform: scale(1.1);
    }
}

.no-data{
    padding: 128px 0;
    .x;
    .pr;
    &__label{
        margin: 12px 0;
        color: #eee;
    }
}

.footer{
    .x;
    .fz(12px);
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px 0;
    color:#ccc;
    background-color:#4f7776;
    a{text-decoration: none;color:#ccc;}
}
