//meta信息
.m-meta{
    background-color:#f7f7f7;
    color:#333;
    .fz(13px,28px);
    padding:2px 8px;
    .clearfix;
    border-bottom:1px solid #eee;

    .u-group{
        .fr;
        b{
            color:@theme-shadow;
        }
    }

    .u-title {
        .u-icon {
            width: 16px;
            margin-right: 6px;
        }

        .u-icon, .u-text{
            display: inline-block;
            vertical-align: middle;
        }
    }
}